<div class="media">
    <div class="media-left media-middle">
        <a href="{{ url_for('user', username=post.author.username) }}">
            <img style="width: 64px;" src="{{ post.author.avatar(128) }}" />
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <span
            {% if no_popover %}
            {% else %}
            class="user_popup"
            {% endif %}>
            <a style='font-size: 18px;' href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}</a>
                </span><small style='font-size: 67%;'>·
                {{ moment(post.timestamp).fromNow() }}</small>
        </h4>
        <p>{{ post.body }}</p>
        {% if current_user == post.author %}
        <button class="btn btn-danger btn-xs" data-toggle='modal' data-target='#deleteModal{{ post.id }}'>Delete</button>
        <div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        There is no way to retrieve a deleted post!
                    </div>
                    <div class="modal-footer">
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                            {{ delete_form.hidden_tag() }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{ delete_form.submit(value='Delete', class='btn btn-danger') }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>