{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if request.path == url_for('explore') %}
    <h1>Explore</h1>
    {% else %}
    <h1>Microblog</h1>
    {% endif %}
     <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.post, placeholder='Get creative...', style='resize: none;', rows='3') }}
        {{ wtf.form_field(form.submit) }}
    </form>
    <br>
    {% if posts|length > 0 %}
        {% for post in posts %}
            {% include "_post.html" %}
        {% endfor %}
        {% include "_pagination_links.html" %}
    {% else %}
        <br><h4>No post yet, time to post one!</h4>
    {% endif %}

{% endblock %}