{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Register</h1>

    <form action="" method="post">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username, placeholder='Enter your username') }}
            {{ wtf.form_field(form.email, placeholder='Enter your email adress') }}
            {{ wtf.form_field(form.password, placeholder='Enter your password') }}
            {{ wtf.form_field(form.password2, placeholder='Repeat your password') }}
            {{ wtf.form_field(form.submit) }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
{% endblock %}